<h1>BOULANGERIES</h1>

<h3>Productions :</h3>
🍫 Chocolatines : {{ chocolatines$ | async }} <br />
🥐 Croissants :
{{ croissants$ | async }}
<hr />

<h3>Stocks :</h3>

🍫 Chocolatines : {{ (stocks$ | async)?.chocolatines }} <br />
🥐 Croissants : {{ (stocks$ | async)?.croissants }} <br />

<hr />
Cout de production chocolatines :
{{ chocolatinesCost$ | async | currency : "EUR" }} <br />
Cout de production croissants :
{{ croissantsCost$ | async | currency : "EUR" }} <br />
<br />
<fieldset>
  <legend>Coût total de la production</legend>
  {{ costFactory$ | async | currency : "EUR" }}
</fieldset>

<hr />

Gain :<br />
<div *ngIf="moneys$ | async; let money">
  Chocolatine gain: {{ money.moenyChocolatines | currency }} pour
  {{ money.nbOfChocolatines }}<br />
  Croissant gain: {{ money.moneyCroissants | currency }} pour
  {{ money.nbOfCroissants }}<br />
</div>

<hr />
Commandes :
<ul>
  <li *ngFor="let order of orders$ | async">
    Date: {{ order.date | date : "long" }}<br />
    Chocolatines: {{ order.nbOfChocolatines }}<br />
    Croissants: {{ order.nbOfCroissants }}<br />
  </li>
</ul>
